name: Update

on:
  push:
    branches: main
  schedule:
    - cron: "0 */24 * * *"

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Install
        run: yarn
      - name: Update
        run: node main.js
        env:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Commit and push if changed
        run: |-
          git diff
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git pull
          git add -A
          git commit -m "updating the readme with new infos" || exit 0
          git push
